.bottomBar {
  width: 100%;
  height: 100%;

  background-color: #031826;
}
.bottomBox {
  background-color: #031826;
  display: flex;
}
#textareaMsg {
  resize: none;
  border-radius: 5px;
  border: 2px solid #fff;
  background-color: #031826;
  color: #fff;
  padding: 5px;
}
#textareaMsg:focus-visible {
  border: none;
}
.bottomBox > textarea:focus-visible {
  outline: none;
}
.bottombarcol {
  padding: 20px;
}
.messagetextarea {
  width: 85%;
}
.messagesend {
  width: 15%;
  border-radius: 5px;
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  text-decoration: none;
}
