.messagecol {
  height: 75vh;
}
.messagecol::-webkit-scrollbar {
  width: 5px;
}

.messagecol::-webkit-scrollbar-thumb {
  background: rgb(255 255 255 / 25%);
  box-shadow: 0 8px 32px 0 rgb(108 108 108 / 37%);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 3px;
  border: 1px solid rgb(255 255 255 / 18%);
}
