.navbar {
  height: 10vh;
}
.logo {
  width: 65px;
  height: 65px;
  border-radius: 20px;
}
.title {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}
.navbarUser {
  font-size: 20px;
  font-weight: 700;
}
.PP {
  width: 50px;
  height: 50px;
  background: #74a4bc;
  border-radius: 50px;
}
.btn-logout {
  background-color: transparent!;
  --bs-btn-bg: transparent !important;

  border: none;
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
}
.btn-logout:hover {
  background-color: transparent !important;

  border: none;
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
}
.btn-logout:active {
  background-color: transparent !important;

  border: none;
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
}
